#verticalNavBar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50px;
    background-color: 	rgb(249, 246, 238);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socialImg{
    height: 80px;
    width: 40px;
    cursor: pointer;
}

.socialLinks{
    color: black;
}